<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Change pass</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <section class="vh-100" style="background-color: #508bfc;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <h3 class="mb-5">Change Password</h3>
                            <form method="post" action="/auth/dochangepassword">
                                <input type="hidden" name="param1" value="@ViewBag.email"/>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="typePasswordX-2">Password</label>
                                    <input type="password" id="typePasswordX-2" class="form-control form-control-lg" id="pass" name="param1" required/>

                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="typePasswordX-2">New password</label>
                                    <input type="password" id="typePasswordX-2" class="form-control form-control-lg" id="pass" name="param2" required/>

                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="typePasswordX-2">Confirm new password</label>
                                    <input type="password" id="typePasswordX-2" class="form-control form-control-lg" id="pass" name="param3" required/>

                                </div>
                                <hr class="my-4">
                                <button class="btn btn-primary btn-lg btn-block" class="login" type="submit">Save</button>
                            </form>
                            <span style="color: red;">@ViewBag.error</span>
                            <p style="color:red ;margin-top: 30px;margin-left: 15px;" id="h"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        document.getElementsByClassName("save")[0].onclick = function(e) {
            if (document.getElementsByName("param1")[0].value.trim() === "" || document.getElementsByName("param2")[0].value.trim() === "" ||
                document.getElementsByName("param3")[0].value.trim() === "") {
                e.preventDefault();
                document.getElementById("h").innerHTML = "fill up informations";
            }
        };
    </script>
</body>
</html>