<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section class="vh-100" style="background-color: #508bfc;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <h3 class="mb-5">Reset Password</h3>
                            <form method="post" action="/auth/doforgotpassword">

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="typeEmailX-2">Email</label>
                                    <input type="email" id="typeEmailX-2" class="form-control form-control-lg" name="param1" id="user" />

                                </div>
                                <hr class="my-4">
                                <button class="btn btn-primary btn-lg btn-block" value="submit" name="submit" type="submit">Reset</button>
                            </form>

                            <nav style="display: flex;width: 250px;padding-top: 20px;margin-left: 26%;"></nav>

                            <a class="reg" href="login"><button class="btn btn-primary btn-lg btn-block">Login</button></a>
                            <p style="color:red ;margin-top: 30px;margin-left: 15px;" id="h"></p>
                            <p id="a" style="margin: 0;color: red;">@ViewBag.error</p>
                            <p id="a" style="margin: 0;color: green;">@ViewBag.success</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            document.getElementsByName("submit")[0].onclick = function(e) {
                if (document.getElementsByName("param1").value.trim() === "") {
                    e.preventDefault();
                    document.getElementById("h").innerHTML = "Fill up information!";
                }
            };
        </script>
    </section>
</body>
</html>
